datacenter = "{{ consul_datacenter }}"
data_dir = "{{ consul_data_directory }}"

{% if provider == 'gce' %}
retry_join = ["provider=gce tag_value=consul"]
{% elif provider == 'no-cloud'%}
retry_join = [
{% for server in consul_server_list if not server == ansible_fqdn %}
  "{{ server }}"{% if not loop.last %},{% endif %}{{''}}
{% endfor %}
]
{% endif %}

client_addr = "0.0.0.0"

performance {
  raft_multiplier = {{ consul_raft_multiplier }}
}

{% if consul_enable_gossip_encryption %}
encrypt = "{{ consul_gossip_key.stdout }}"
{% endif %}