[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ consul_config_file }}

[Service]
Type=notify
User={{ consul_user }}
Group={{ consul_group }}
ExecStart={{ consul_install_directory }}/consul agent -config-dir={{ consul_home_directory }}
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
