datacenter = "{{ consul_datacenter }}"
data_dir   = "{{ consul_data_directory }}"
node_name  = "{{ ansible_hostname }}"

{% if consul_enable_gossip_encryption %}
encrypt = "{{ consul_gossip_key.stdout }}"
{% endif %}

{% if consul_enable_acl %}
acl {
  enabled        = true
  default_policy = "deny"
  down_policy    = "extend-cache"
}
{% endif %}

{% if consul_enable_tls %}
ca_file                = "{{ consul_tls_directory }}/{{ consul_tls_ca_file | basename }}"
cert_file              = "{{ consul_tls_directory }}/{{ consul_tls_cert_file | basename }}"
key_file               = "{{ consul_tls_directory }}/{{ consul_tls_key_file | basename }}"
verify_incoming        = {{ consul_tls_verify_incoming | lower }}
verify_outgoing        = {{ consul_tls_verify_outgoing | lower }}
verify_server_hostname = {{ consul_tls_verify_server_hostname | lower }}
{% endif %}

{% if provider == 'gce' %}
retry_join = ["provider=gce tag_value={{ consul_cloud_tag }}"]
{% elif provider == 'no_cloud'%}
retry_join = [
{% for server in consul_server_list if not server == ansible_fqdn %}
  "{{ server }}"{% if not loop.last %},{% endif %}{{''}}
{% endfor %}
]
{% endif %}

client_addr    = "0.0.0.0"
advertise_addr = "{{ ansible_default_ipv4.address }}"

performance {
  raft_multiplier = {{ consul_raft_multiplier }}
}